* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #651e3e;
}

.leaf-svg {
  height: 40px;
  width: 40px;
  z-index: 99;
}

g {
  z-index: 99;
}

.icons {
  height: 50px;
  align-items: center;
}

.icons-feather {
  height: 70px;
}

.noroff-icon-text {
  position: relative;
  right: 12px;
}

.tech-icon-text {
  position: relative;
  right: 6px;
}

.trond {
  height: 250px;
}

.arrow-icon {
  color: white;
  height: 30px;
  width: 30px;
}

.social-icons {
  color: white;
  height: 30px;
  width: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  list-style: none;

  align-items: center;
  z-index: 99;
  cursor: pointer;
}

a:hover {
  text-decoration: underline #db6400;
}

.github-icon {
  height: 35px;
  width: 35px;
  color: white;
  cursor: pointer;
}

.github-icon:hover {
  color: #db6400;
}
